@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f4e9;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mdNavBar {
  /* From https://css.glass */
  background: rgba(240, 244, 233, 0.5);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(15px);
}

.imageCircle {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}