@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 244, 233);
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mdNavBar {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}